@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Mukta&family=Unna&display=swap');

body {
  background-color: #fffefe;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
}

img {
  max-width: calc(min( 80vw, 40rem));
}


nav > a {
  font-family: 'Aladin', cursive;
}

h1, h2 {
  border-bottom: #E223 2px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Unna', serif;
  color: #800;
}


a {
  color: #B00;
}

h1 {
  font-size: 3rem;
}

nav {
  background-color: transparent !important;
  border-radius: 0 !important;
}
